.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.modelslist-row {
  width: 40%; 
  text-align: left;
}

.media-body {
  margin-left: 5%;
}

.media-body form {
  text-align: left;
  margin-top: 20px;
}

.media img {
  margin-right: 13%;
}

#range-slider, #continuous-slider {
  text-align: left;
  margin-top: -12px;
}

.pattern-description {
  text-align: left;
}

.pattern-description h2 {
  font-size: medium;
  margin-top: 20px;
  margin-bottom: 10px;
}